.search {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 20px;
  border: 2px solid var(--dark-40);
  background-color: var(--dark-30);
  border-radius: 2px;
  width: 100%;
  padding: 16px 24px;
  margin-bottom: 50px;
  color: #fff;
}
.search:focus {
  outline: none;
  box-shadow: none;
}
